*{font-family:'Roboto',Arial;

}

form{
    width: 25%;
    border: 1px solid #FFE399;
    background:#C6A03B;
    margin:20px;
    padding:20px;
    border-radius: 10px;
    border: 4px solid #ccc;
}
label{
    font-size: 12px;
    color: white;
    display: block;
    width: 100%;
}
input, textarea{
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
    border: 2px solid #ccc;
    background: #FFE399;
    border-radius: 10px;
}
input:focus, textarea:focus{
    border: 2px solid #453304;
}
input[type="button"]{
    margin-bottom: 0px;
    border:none;
    border-left: 3px solid #ffb800;
    border-bottom: 3px solid #ffb800;
    background: #786A44;
    color: white;
}
input[type="button"]:hover{
    cursor:pointer;
    background: #8c805e;
}
input[type="button"]:focus{
    border-left: 1px solid #ffb800;
    border-bottom: 1px solid #ffb800;
}
